<!DOCTYPE html>
<html>

<head>
  <title>America's Weather Guru</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <main>
    <h1><a href="/">America's Weather Guru</a></h1>
    {% block content %}
    {% endblock %}
    <section>
      <p>
        America's Weather Guru was developed by Starlight Romeros © 2020.
      </p>
    </section>
  </main>
</body>

</html>
