{% extends 'base.html' %}
{% block content %}

<section class="weather-form">
  <h2>What's the weather like today?</h1>

    <form action="/results" method="GET">
      <fieldset>
        <legend>Enter your information:</legend>

        <p>
          <label>
            Enter your zip code: <br>
            <input type="text" name="zip" minlength="5" maxlength="5">
          </label>
        </p>

        <p>
          Choose your desired units: <br>
          <label>
            <input type="radio" name="units" value="metric">
            Celsius
          </label><br>
          <label>
            <input type="radio" name="units" value="imperial">
            Fahrenheit
          </label><br>
          <label>
            <input type="radio" name="units" value="kelvin" checked>
            Kelvin
          </label>
        </p>

        <p>
          <input type="submit" value="Submit">
        </p>

      </fieldset>
    </form>
</section>
<section class="weather-form">
  <form action="historical_results" method="GET">
    <h2>See Historical Data</h1>
      <fieldset>
        <legend>Enter your information:</legend>

        <p>
          <label>
            Enter your zip code: <br>
            <input type="text" name="zip" minlength="5" maxlength="5">
          </label>
        </p>

        <p>
          Choose your desired units: <br>
          <label>
            <input type="radio" name="units" value="metric">
            Celsius
          </label><br>
          <label>
            <input type="radio" name="units" value="imperial">
            Fahrenheit
          </label><br>
          <label>
            <input type="radio" name="units" value="kelvin" checked>
            Kelvin
          </label>
        </p>

        <p>
          <label>
            Choose the date you'd like info on: <br>
            (Please enter in YYYY-MM-DD format) <br>
            <input type="date" name="date" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}">
          </label>
        </p>

        <p>
          <input type="submit" value="Submit">
        </p>
      </fieldset>
  </form>
</section>

{% endblock content %}
